[Unit]
Description=Malakocut NDR Sniffer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/malakocut
EnvironmentFile=/etc/default/malakocut
ExecStart=/usr/local/bin/malakocut -interface enp3s0
Restart=always
RestartSec=5
StandardOutput=append:/var/log/malakocut.log
StandardError=append:/var/log/malakocut.log

[Install]
WantedBy=multi-user.target
